/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap"); */

/* your body background goes here  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

/* your nav bar styling goes here  */
.nav-branding{
    height: 56px;
    margin-left: 30px;
} 
header{
    background-color: #fff;
}

li{
    list-style: none;
}
.nav-link{
    color: black;
    text-decoration: none;
    transition: 0.7s ease;
}
.nav-link:hover{
    color: pink;
    border-radius: 6px;
    border-top: 1px solid black;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: "Poppins", sans-serif;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
/* your media query for the hamburger menu goes here  */
@media screen and (max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 3px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

/* your intro text styling goe here  */

.intro-text{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 4rem auto;
}

/* your image styling goes here  */
.wrapper{
    perspective: 900px;
    margin: 4px auto;
    display: flex;
    justify-content: center;
}
.inner{
    transition: .3s;
    display: flex;
    gap: 10px;
}

.inner figure{
    box-shadow: -6px 6px 2px -3px rgba(100, 100, 100, .1);
     margin-right: 1em;
    margin-left: 1em; 
    background: rgba(250, 200, 200, 0.1);
    border: 1px solid rgba(250, 200, 200, .5);
}
.inner figcaption{
    text-align: center;
    margin: .5em 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: darken(tomato, 15%);
} 

inner img{
    height: 4px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-filter: sepia(75%);
    filter: sepia(75%);
}
img{
    height: 10em;
}
/* your image animation goes here  */
figure{
    /* transform: rotate(25deg); */
    animation: skew 23s infinite;
    animation-direction: alternate;
}
@keyframes skew {
    0% {
      transform: skew(20deg, 20deg);
    }
    0% {
        transform: skew(-20deg, -20deg);
      }
}

/* your button style goes here  */

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    width: 15%;
    height: 35px;
    cursor: pointer;
    margin: 4em auto;
    border-radius: 2px;
}
.btn:hover{
    color: pink;
    border-left: 3px solid red;
    transition: 3s ease-in-out;
}

/* the media queries go here  */

/* your bout section styling goes here  */
#about__section{
    background: white;
    height: auto;
}
.about-heading{
    margin: 1rem 20rem;
    line-height: 4rem;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.about-text{
    margin-left: 20rem;
    margin-top: -2rem;
    font-family: "Poppins", sans-serif;
}
.about-img input{
    width: 30rem;
    margin-top: 1rem;
    margin-left: 18.4rem;
}
